<!DOCTYPE HTML>
<!--

    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <script src="filename.js?version = 2.1"></script>


    <title>E-Learning system </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <link href="~/Home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Home/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Home/css/owl.theme.default.min.css" rel="stylesheet" />
</head>

<body class="landing">
    <!-- Header nav bar -->
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        var role = this.User.Claims.ElementAt(3).Value;

                        if (role == "Admin")

                        {
                            <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Index" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                        }
                        else if (role == "Student")
                        {
                            // menu
                        }
                        else if (role == "Teacher")
                        {
                            // menu
                        }
                        <li><a asp-action="LogOut" asp-controller="Users">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                        <li><a asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>

                        <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                    }
                }
            </ul>

        </nav>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


    <!-- Banner -->
    <section id="banner" style="height:750px">
        <h2> සිසු නැණ අද්‍යාපනික වෙබ් අඩවිය </h2>
        <p> </p>
        <ul class="actions">
            <li><a asp-controller="Home" asp-action="Index" class="button special big">Class Advertisements</a></li>
        </ul>
    </section>


    <!-- Two feature -->
    <section id="two" class="wrapper style2 special">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>01</span>
                        <h3>Tuition Classes</h3>
                        <p>The website is given the opportunity to choose a teacher of their choice and engage in the educational activities of their choice.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>02</span>
                        <h3>Books & Library</h3>
                        <p> Contains textbooks and other educational materials that are essential for students. This allows you to download any file you want, for free.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>03</span>
                        <h3>Certified Teachers</h3>
                        <p>It is a social service carried out by teachers from different parts of the island to enhance the level of education of students. Its main objective is to uplift the education of students in the country</p>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <!-- Three about  -->
    <section id="three" class="wrapper style1">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Start your journey to a better life with online Teaching</h2>
                        <figure>
                            <span><i class="fa fa-users"></i></span>
                            <figcaption>
                                <h3>Meet Professional Teachers</h3>
                                <p>Educate with professional teachers in different areas of the country</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-certificate"></i></span>
                            <figcaption>
                                <h3>Communicate With Others</h3>
                                <p>Discuss education deficiencies, weaknesses, suggestions and allegations and collaborate with everyone's ideas..</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-bar-chart-o"></i></span>
                            <figcaption>
                                <h3>Free Text Books & Learning Materials</h3>
                                <p>Download the required learning materials(Text Books & other materials)</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form">
                        <form action="#" method="post">
                            <h2>Website Donations</h2>
                            <input type="text" name="full name" class="form-control" placeholder="Full name" required="">

                            <input type="email" name="email" class="form-control" placeholder="Your email address" required="">

                            <input type="Amount" name="password" class="form-control" placeholder="Amount" required="">

                            <button class="submit-btn form-control" id="form-submit">Donate</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Four teacher-->
    <section id="four" class="wrapper style3 special">
        <div class="container">
            <header class="major">
            </header>
            <ul class="actions">
            </ul>
        </div>
    </section>






    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"></a></li>
                <li><a href="#" class="icon fa-twitter"></a></li>
                <li><a href="#" class="icon fa-instagram"></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>

            </ul>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>