<!DOCTYPE HTML>
<!--

    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <script src="filename.js?version = 2.1"></script>


    <title>E-Learning system </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <link href="~/Home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Home/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Home/css/owl.theme.default.min.css" rel="stylesheet" />
</head>

<body class="landing">
    <!-- Header nav bar -->
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        var role = this.User.Claims.ElementAt(3).Value;

                        if (role == "Admin")

                        {
                            <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>

                            <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                        }
                        else if (role == "Student")
                        {
                            <li><a asp-action="Classes" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>

                            <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                        }
                        else if (role == "Teacher")
                        {
                            <li><a asp-controller="RegisteredStudents" asp-action="MyStudents">My Students</a></li>

                            <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                        }
                        <li><a asp-action="LogOut" asp-controller="Users">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                        <li><a asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>
                        <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                    }
                }
            </ul>

        </nav>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


    <!-- Banner -->
    <section id="banner" style="height:750px">
        <h2> සිසු නැණ අද්‍යාපනික වෙබ් අඩවිය </h2>
        <p> </p>
        <ul class="actions">
            <li><a asp-controller="Home" asp-action="Index" class="button special big">Class Advertisements</a></li>
        </ul>
    </section>


    <!-- Two feature -->
    <!-- Three about  -->
    <!-- Four teacher-->
    <!-- Three -->
    <section id="three" class="wrapper style1">
        <div class="container">
            <center>
                <header class="major special">
                    <font face="Forte" size="25px" color="Black">Start your journey to a better life with online Teaching</font>
                </header>
            </center>

            <div class="feature-grid">
                <div class="feature">
                    <div class="image rounded">
                        <img src="~/images/author-image1.jpg" />
                    </div>
                    <div class="content">
                        <header>
                            <h4><b>Akila Senewirathna</b></h4>
                            <p>I love Teaching</p>
                        </header>
                        <p>"Teaching might even be the greatest of the arts since the medium is the human mind and spirit."<br />(John Steinbeck)</p>
                    </div>
                </div>

                <div class="feature">
                    <div class="image rounded"><img src="~/images/author-image2.jpg" /></div>
                    <div class="content">
                        <header>
                            <h4><b>Chandima Wijebandara</b></h4>
                            <p>Education is the key</p>
                        </header>
                        <p> "A teacher who is attempting to teach without inspiring the pupil with a desire to learn is hammering on cold iron."<br />(Horace Mann) </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="image rounded"><img src="~/images/author-image3.jpg" /></div>
                    <div class="content">
                        <header>
                            <h4><b>Chintha Wijesuriya</b></h4>
                            <p>I like Online Teaching</p>
                        </header>
                        <p>"Teaching is only demonstrating that it is possible. Learning is making it possible for yourself."<br />(Paulo Coelho) </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="image rounded"><img src="~/images/author-image4.jpg" /></div>
                    <div class="content">
                        <header>
                            <h4><b>Dilum Chanaka</b></h4>
                            <p>Teaching is fun</p>
                        </header>
                        <p>"Teachers have three loves: love of learning, love of learners, and the love of bringing the first two loves together."<br />(Scott Hayden) </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Banner -->
    <section id="banner">
        <h2>Textbooks, Books, Links & Educational Martials </h2>
        <p> "Libraries store the energy that fuels the imagination.<br /> They open up windows to the world and inspire us to explore and achieve, <br />and contribute to improving our quality of life."<br /></p>
        <p>[Sidney Sheldon]</p>
    
        <ul class="actions">
            <li><a asp-controller="Users" asp-action="CreateUser" class="button special big">Books & Library</a></li>
        </ul>
    </section>


    <!-- One -->
    <section id="one" class="wrapper style1">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>Plant Diseases</h2>
                        <p>Background</p>
                    </header>
                </div>
                <div class="6u$ 12u$(medium)">
                    <p>Sri Lanka is well-known for Agriculture that means most of the Sri Lankan people engaged in agriculture industry. The agriculture field plays an important role in economic sector of Sri Lanka. The plant diseases can be arising from biotic or abiotic origin. Biotic (infectious) diseases are developed owing to microbial infection, while abiotic (non-infectious) diseases are developed due to environmental factors.</p>
                    <p>Due to the rapid human growth, habitat and urbanization and also the climate changes cause plant diseases. Increasing demand for safer plant produce has been one of the major concern at consumer level as well as the in national food supply chain and export agriculture in the era of global exchange of holy cultural products and plant.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Two -->


    @*<section id="three" class="wrapper style1">
        <div class="container">
            <center>
                <header class="major special">
                    <font face="Forte" size="25px" color="Black">Start your journey to a better life with online Teaching</font>
                </header>
            </center>

            <div class="row">
                <div class="feature-grid">
                    <div class="feature">
                        <div class="img-thumbnail "><img src="~/images/courses-image.jpg" class="img-fluid" alt="" width="350px" height="350px"></div>
                    </div>

                    <div class="feature">
                        <div class="img-thumbnail"><img src="~/images/courses-image.jpg" class="img-fluid" alt="" width="350px" height="350px"></div>
                    </div>

                    <div class="feature">
                        <div class="img-thumbnail"><img src="~/images/courses-image.jpg" class="img-fluid" alt="" width="350px" height="350px"></div>
                    </div>

                    <div class="feature">
                        <div class="img-thumbnail"><img src="~/images/courses-image.jpg" class="img-fluid" alt="" width="350px" height="350px"></div>
                    </div>
                </div>
            </div>
        </div>
</section>*@




    <section id="two" class="wrapper style2 special">
        <center>
            <div class="feature">
                <div class="container-fluid">
                    <header class="major special">
                        <h2>Class Advertisements</h2>
                        <p>Upgrade your skills with newest classes</p>
                    </header>

                    <div class="row">
                        <div class="column">
                            <img src="~/images/courses-image.jpg" class="img-fluid" alt="" width="350px" height="350px">
                        </div>
                        <div class="column">
                            <img src="~/images/courses-image1.jpg" class="img-fluid" alt="" width="350px" height="350px">
                        </div>
                        <div class="column">
                            <img src="~/images/courses-image2.jpg" class="img-fluid" alt="" width="350px" height="350px">
                        </div>
                        <div class="column">
                            <img src="~/images/courses-image3.jpg" class="img-fluid" alt="" width="350px" height="350px">
                        </div>
                        <div class="column">
                            <img src="~/images/courses-image4.jpg" class="img-fluid" alt="" width="350px" height="350px">
                        </div>
                        <div class="column">
                            <img src="~/images/courses-image5.jpg" class="img-fluid" alt="" width="350px" height="350px">
                        </div>
                    </div>

                </div>
            </div>
        </center>
    </section>



    <!-- Four -->
    <section id="four" class="wrapper style3 special">
        <div class="container">
            <header class="major">
                <h2>Infrom us about your plant leaf problems from here </h2>
                <p>Pathologist is always available for you to give a fast solution</p>
            </header>
            <ul class="actions">
                <li><a asp-controller="Requests" asp-action="Create" class="button special big">Make a Request</a></li>
            </ul>
        </div>
    </section>



    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"></a></li>
                <li><a href="#" class="icon fa-twitter"></a></li>
                <li><a href="#" class="icon fa-instagram"></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
            </ul>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>