



<!DOCTYPE HTML>
<!--

    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <script src="filename.js?version = 2.1"></script>


    <title>Tution System </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="landing">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><strong><a asp-controller="Home" asp-action="Index">Tution Management</a></strong> </h1>
        <nav id="nav">
            <ul>
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        var role = this.User.Claims.ElementAt(3).Value;

                        if (role == "Admin")
                        {
                            <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>

                            <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                        }
                        else if (role == "Student")
                        {
                            <li><a asp-action="Classes" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>

                            <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                        }
                        else if (role == "Teacher")
                        {
                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>

                            <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                        }

                        <li><a asp-action="LogOut" asp-controller="Users">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>

                        <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>

                    }
                }
            </ul>
           
        </nav>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    <!-- Banner -->
    <section id="banner" style="height:750px">
        <h2>Tution Management</h2>
        <p> </p>
        <ul class="actions">
            <li><a asp-controller="Home" asp-action="Index" class="button special big">Tution Management </a></li>
        </ul>

    </section>
    <!-- One -->
    <!-- Two -->
    @*<section id="two" class="wrapper style2 special">

        </section>*@
    <!-- Three -->
    <section id="three" class="wrapper style1">
        <div class="container">
            <header class="major special">
            </header>
            <div class="feature-grid">
                <div class="feature">
                    <div class="image rounded"><img src="~/images/leafspot.jpg" alt="" /></div>
                    <div class="content">
                        <header>
                        </header>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="~/images/mosaic.jpg" alt="" /></div>
                    <div class="content">
                        <header>
                        </header>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="~/images/mildew.jpg" alt="" /></div>
                    <div class="content">
                        <header>
                        </header>
                    </div>
                </div>
                <div class="feature">
                    <div class="image rounded"><img src="~/images/rust.jpg" alt="" /></div>
                    <div class="content">
                        <header>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Four -->
    <section id="four" class="wrapper style3 special">
        <div class="container">
            <header class="major">
            </header>
            <ul class="actions">
            </ul>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"></a></li>
                <li><a href="#" class="icon fa-twitter"></a></li>
                <li><a href="#" class="icon fa-instagram"></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>

            </ul>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>