@model IEnumerable<web_project.Models.User>

@{
    ViewData["Title"] = "Teachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <br /><br /><br /><br /><br /><br />    
 
<div class="container">
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <form asp-action="AddToCart">
                <td style="width:30px">

                    <img height="125" width="115" src=~/@Html.DisplayFor(modelItem => item.Image) alt="" />
                    <br />

                    &nbsp @Html.DisplayFor(modelItem => item.UserName)
                    <br />


                    <input type="hidden" value="@item.Id" asp-for="@Model.ElementAt(0).Id" />

                </td>
            </form>
        </div>
    }
</div>
    </div>
