@model web_project.Models.Class


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<html>

<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <script src="filename.js?version = 2.1"></script>


    <title>E-Learning system </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<body>
    <section id ="banner" style="height:650px">
        <br /><br /><br /><br /><br /><br />
        <!-- Header nav bar -->
        <div>
            <!-- Banner -->
            <section id="three" class="wrapper style1">
                <div class="container">
                    <center><font face="Forte" size="25" color="Black"> Add your Class Details</font></center>  <br /><br />
                    <div class="row">
                        <div >
                            <form enctype="multipart/form-data" asp-action="Create" class="form-horizontal">

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Grade:</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Grade" type="text" class="form-control" placeholder="Enter Grade">
                                        <span asp-validation-for="Grade" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Subject:</label>
                                    <div class="col-sm-10">
                                        <input type="text" asp-for="Subject" class="form-control" placeholder="Enter subject">
                                        <span asp-validation-for="Subject" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Class Date:</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Date" class="form-control">
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Class Time:</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Time" class="form-control">
                                        <span asp-validation-for="Time" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Class Join Link:</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Url" class="form-control" placeholder="Enter Class Link">
                                        <span asp-validation-for="Url" class="text-danger"></span>
                                    </div> <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
                                    <a href="https://meet.jit.si/LiteraryBinsTelephoneAbove">Get Link In Jisti Meet</a>  <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
                                    <a href="https://zoom.us/j/97769163815?pwd=Y2YrTXBCWGRGc0t4MVBNWE1haEZXUT09#success">Get Link In Zoom</a>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Advertiesment" class="control-label col-sm-2" for="email">Upload Your Advertiesment:</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Advertiesment" class="form-control" />
                                        <span asp-validation-for="Advertiesment" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </section>
        </div>
    </section>
</body>
</html>